<div>
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Avi Jassra</a>
        <span class="pull-right">
            <ul class="nav nav-pills">
                <li class="nav-item" >
                    <a class="nav-link" [routerLink]="['tic-tac-toe']" [routerLinkActive]="['active']" >Tic Tac Toe</a>
                </li>
                <li class="nav-item"  >
                    <a class="nav-link" [routerLink]="['2048']" [routerLinkActive]="['active']" >2048</a>
                </li>
            </ul>
        </span>
    </nav>
    <br />
    <router-outlet></router-outlet>
</div>
