<div class="ttt-g">
    <div class="container">
        <div class="game-viewport" >
            <table class="text-center {{winningClass}}">
                <tr *ngFor="let row of gameModel.grid; let r = index" >
                    <td *ngFor="let col of row; let c = index" (click)="ticOrTac(r, c)">
                        <!-- <i class="fa {{ (gameModel.grid[r][c].marker === true ? marker.x : (gameModel.grid[r][c].marker === false ? marker.o : '')) }}" [ngClass]="{ 'text-success blink': gameModel.grid[r][c].isWinningSequence }" ></i> -->
                        <i class="fa {{ (gameModel.grid[r][c].marker === true ? marker.x : (gameModel.grid[r][c].marker === false ? marker.o : '')) }}" [ngClass]="{ 'text-success blink': gameModel.grid[r][c].isWinningSequence }"></i>
                    </td>
                </tr>
            </table>
            <div class="game-viewport-overlay" [ngClass]="{ 'hide': !screenBlocker }" >
                <div class="row text-center" [ngClass]="{ 'hide': (!gameModel.isGameOn && gameModel.noOfCellsMarkedInGame === 0) }">
                    <div class="col-xs-12 center">
                        {{getActivePlayerName}}
                        <br>
                        <button class="btn btn-primary circle top30" [ngClass]="{ 'hide': !reqForTurn }" (click)="reqForTurnAxn()" >Go</button>
                    </div>
                </div>
                <div class="row text-center" [ngClass]="{ 'hide': gameModel.isGameOn }">
                    <div class="col-xs-12 center">
                        {{winningPlayer}}
                        <br>
                        <button class="btn btn-primary circle top" (click)="resetGrid()" >
                            <i class="fa fa-gamepad"></i> Play Again
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="footer" class="navbar fixed-bottom navbar-light bg-light">
        <span class="pull-left">
            {{gameModel.players.home.name}} <i class="fa fa-lg  {{gameModel.players.isHomeMarkerX ? marker.x : marker.o}}" [ngClass]="{ 'text-danger': gameModel.players.isHomeHasTurnToPlay }" ></i> <b>-</b> {{gameModel.players.home.score}}
        </span>    
        <span class="">
            Draw <b>-</b> {{noWinner}}
        </span>
        <span class="pull-right">
            {{gameModel.players.guest.name}} <i class="fa fa-lg {{gameModel.players.isHomeMarkerX ? marker.o : marker.x}}" [ngClass]="{ 'text-danger': !gameModel.players.isHomeHasTurnToPlay }" ></i> <b>-</b> {{gameModel.players.guest.score}}
        </span>
    </nav>
</div>