<div class="ttt-g">
    <div class="container">
        <div class="game-viewport" style="border:2px solid blue;">
            <table class="text-center {{winningClass}}">
                <tr *ngFor="let row of gameModel.grid; let r = index" >
                    <td *ngFor="let col of row; let c = index" (click)="ticOrTac(r, c)">
                        <i class="fa" [ngClass]="{'fa-times': gameModel.grid[r][c].marker === true, 'fa-circle': gameModel.grid[r][c].marker === false, 'text-success blink': gameModel.grid[r][c].isWinningSequence }" ></i>
                    </td>
                </tr>
            </table>
            <div class="game-viewport-overlay" [ngClass]="{ 'hide': !screenBlocker }" style="border:2px solid green;">
                <div class="row text-center">
                    <div class="col-xs-12 center">
                        {{getActivePlayerName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="footer" class="navbar fixed-bottom navbar-light bg-light">
        <span class="pull-left">
            {{gameModel.players.home.name}} <i class="fa fa-lg" [ngClass]="{ 'fa-times': gameModel.players.isHomeMarkerX, 'fa-circle': !gameModel.players.isHomeMarkerX, 'text-danger': gameModel.players.isHomeHasTurnToPlay }" ></i> <b>-</b> {{gameModel.players.home.score}}
        </span>    
        <span class="">
            Draw <b>-</b> {{noWinner}}
        </span>
        <span class="pull-right">
            {{gameModel.players.guest.name}} <i class="fa fa-lg" [ngClass]="{ 'fa-times': !gameModel.players.isHomeMarkerX, 'fa-circle': gameModel.players.isHomeMarkerX, 'text-danger': !gameModel.players.isHomeHasTurnToPlay }" ></i> <b>-</b> {{gameModel.players.guest.score}}
        </span>
    </nav>
</div>